* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  font-family: 'Inconsolata', monospace;
}

#root {
  overflow: auto;
}
#container, #container > div {
  height: inherit
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
}


/*Los elementos de abajo se alinean para construir un triángulo*/
/* .hanoi:not(:first-child) {
  width: 50% !important;
  
  display: inline !important;
  float: left;
} */

/*Los elementos de abajo se alinean para construir un triángulo*/
.hanoi{
  cursor: pointer;
}

/*.portal:first-child{
  background-color: #BAC7BE
}

.portal:nth-child(2){
  background-color: #939196
}
.portal:nth-child(3){
  background-color: #5E5768
}
*/
a {
  color: inherit;
  text-decoration: inherit;
}

a:hover{
  background-color: #7c2252;
  color: orange;
}
p{
  width: 50%;
  margin: auto;
  line-height: 1.5em;
  text-align: center;
}
p:first-child{
  padding-top: 1.5em;
}
h2{
  width: 30%;
  text-align: center;
  margin: auto;
}
h3{
  display: inline;
  width: 50%;
  text-align: center;
  margin: 16em;
}

.hanoi{
  height: 30%;
  width: 100%;

}

.hanoi:hover{
  background-color: aliceblue;
}

.hand{
  height: 10%;
}